---
---

@import 'bootstrap/bootstrap';
@import "{{ site.theme }}";

header {
  background: none;
}

header h1 {
  margin: 0;
}

header h1:before {
  display: none;
}

header ul li {
  list-style-image: none;
  justify-content: space-between;
}

.container {
  max-width: 90%;
  max-width: 3456px;
}