---
---

@import 'bootstrap/bootstrap';
@import "{{ site.theme }}";

@font-face {
    font-family: 'DREAMS';
    src: url('assets/fonts/DREAMS.eot');
    src: url('assets/fonts/DREAMS.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/DREAMS.woff2') format('woff2'),
        url('assets/fonts/DREAMS.woff') format('woff'),
        url('assets/fonts/DREAMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header {
  background: none;
}

header h1 {
  margin: 0;
}

header h1:before {
  display: none;
}

header ul {
  flex-grow: 1;
}

header ul li {
  list-style-image: none;
  justify-content: space-between;
  flex-grow: 1;
}

header .navbar-brand {
  margin-right: 3rem;
}

thead, tbody, tfoot, tr, td, th {
  border-color: white;
  border-width: 1px;
}

thead {
  color: #b5e853;
}

.container {
  max-width: 90%;
  max-width: 3456px;
}

.navbar {
  padding: .5rem;
}

.TFOtext {
  color: red;
}

.ELECtext {
  color: white;
}

code.highlighter-rouge {
  color: #ff9ba2;
}