---
---

@import 'bootstrap/bootstrap';
@import "{{ site.theme }}";

header {
  background: none;
  padding: 30px 0 20px 0;
}

header h1 {
  margin: 0;
}

header h1:before {
  display: none;
}

header ul {
  flex-grow: 1;
}

header ul li {
  list-style-image: none;
  justify-content: space-between;
  flex-grow: 1;
}

header .navbar-nav > li {
  border: 1px solid #222;
  text-align: center;
}

@media (min-width: 992px) {
  header .navbar-nav > li {
    background-image: linear-gradient(180deg, #242424, transparent)
  }
}

header .navbar {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

header .navbar-brand {
  margin-right: 3rem;
}

h3 {
  color: #D0EC9C;
  font-size: calc(1.1rem + .6vw);
}

thead, tbody, tfoot, tr, td, th {
  border-color: white;
  border-width: 1px;
}

thead {
  color: #b5e853;
}

b, strong {
    text-shadow: 0px 0px 0px white, 0 0 1em white, 0 0 1em #b5e853;
}

.container {
  max-width: 90%;
  max-width: 3456px;
}

.navbar {
  padding: 0;
}

.TFOtext {
  color: red;
}

.ELECtext {
  color: white;
}

code.highlighter-rouge {
  color: #ff9ba2;
}

.btn {
  background: inherit;
  text-shadow: none;
  box-shadow: none;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.btn-light {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn.btn-light:hover {
  color: #000;
  background-color: #f9fafb;
  border-color: #f9fafb;
}

.btn-download {
    color: #fff;
    background-color: #212529;
    border-color: #fff;
    border-width: 2px;
    border-radius: .5rem;
    font-weight: bold;
}

.btn-download:hover {
    color: #fff;
    background-color: #1c1f23;
    border-color: #fff;
    border-width: 2px;
    border-radius: .5rem;
    font-weight: bold;
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn.btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

.btn:hover {
    background: inherit;
}

.text-right {
  text-align: right;
}

.download-warning {
  display: flex;
  align-items: center;
}

.download-warning svg {
  margin-right: 1rem;
}

.nav-download {
  @extend .btn;
  @extend .btn-dark;

  background-color: rgba(107, 34, 16, 1);
  border: none;
  border-radius: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  width: 100%;

  &:hover {
    @extend .btn-dark:hover;
    border: none;
    background-color: rgba(235, 50, 35, 1);
  }

  &::before {
    content: url('../../images/download-arrow.svg');
    width: 18px;
    height: 18px;
    margin-right: .5rem;
  }
}

.navbar-collapse {
  text-align: center;
}

.nav-link {
  padding: 1rem .5rem;
}

a.nav-link.nav-download {
  color: white !important;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, #930000, transparent);
}

header .bg-dark.show, header .bg-dark.collapsing {
  border-radius: 0;
}

.navbar-collapse.show .nav-link, .navbar-collapse.collapsing .nav-link {
  border-radius: 0;
}

.wiki-btn {
  margin-top: 1rem;
}

#tipue_search_results_count {
  color: #eaeaea;
}

.tipue_search_content_title {
  color: #b5e853;
}

.tipue_search_content_title a {
  color: #b5e853;
}

.tipue_search_content_text {
  color: #eaeaea;
}

.tipue_search_content_bold {
  color: #b5e853;
}

@media (min-width: 992px) {
  .nav-search {
    position: absolute;
    right: 0;
    top: -20px;
  }
}

.nav-search .input-group-text, .nav-search .form-control {
  border-color: black;
}

.good { background-color: #1b321b; }

.mixed { background-color: #32321b; }

.bad { background-color: #321b1b; }

.mixed a[data-toggle="tooltip"],.mixed a[data-toggle="tooltip"]:hover,.mixed a[data-toggle="tooltip"]:active {
  color: white;
  text-decoration: underline dotted yellow;
}

.bad a[data-toggle="tooltip"],.bad a[data-toggle="tooltip"]:hover,.bad a[data-toggle="tooltip"]:active {
  color: white;
  text-decoration: underline dotted red;
}
